black
gdown
isort
lpips==0.1.4
monai-generative
monai[matplotlib, pandas, mlflow, tqdm, pillow]>=1.2.0rc1
omegaconf==2.3.0
pre-commit
pynvml
spacy
tensorboardX
torchxrayvision==1.0.1
transformers[torch]
