lpips==0.1.4
pre-commit
monai-weekly[nibabel, matplotlib, pandas, mlflow, tqdm]==1.2.dev2304
tensorboardX
omegaconf==2.3.0
pynvml
gdown
x-transformers==1.8.1
spacy
transformers[torch]
torch==1.11.0
torchvision==0.12.0
