stage1:
  base_lr: 0.00005
  disc_lr: 0.0001
  perceptual_weight: 0.002
  adv_weight: 0.005
  kl_weight: 0.00000001
  params:
    spatial_dims: 3
    in_channels: 1
    out_channels: 1
    num_channels: 64
    latent_channels: 3
    ch_mult: [1, 2, 2, 2]
    num_res_blocks: 2
    attention_levels: [False, False, False, False]
    with_encoder_nonlocal_attn: False
    with_decoder_nonlocal_attn: False

discriminator:
  params:
    spatial_dims: 3
    num_channels: 64
    num_layers_d: 3
    in_channels: 1
    out_channels: 1
    kernel_size: 4
    activation: "LEAKYRELU"
    norm: "BATCH"
    bias: False
    padding: 1

perceptual_network:
  params:
    spatial_dims: 3
    network_type: "squeeze"
    is_fake_3d: True
    fake_3d_ratio: 0.5
